@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-size: cover;
  overflow: hidden;
  background-image: url("/image.png");
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
